#tooltip {
  display: none;
  position: fixed;

  translate: -50% -110%;
  padding: 3px;

  max-width: 300px;
  overflow-wrap: break-word;

  interactivity: inert;

  background-color: var(--background-color);
  border: 3px solid var(--border-color);
  border-radius: 3px;
}

#tooltip.show {
  display: block;
}

@keyframes flashingText {
  50% {opacity: 0;}
}

tool-tip::after {
  content: "?";

  color: #6ebeff;
  font-weight: bold;
  text-shadow: none;
  font-size: 80%;

  display: inline-block;

  translate: 0 -30%;

  animation: flashingText 2s infinite;
}
