<style>
  #upper_banner {
    position: sticky;
    top: 0px;

    background: linear-gradient(#3ee4fa, #bcf0f7);

    border-bottom-style: solid;
    border-color: #74ddf0;

    margin: -8px;
  }

  #upper_banner .quicklink {
    background-color: #ddf4f8;
    color: black;

    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: #adc5c9;

    margin: 0px 0px;
    padding: 0px 10px;
  }
</style>

<a class="quicklink" href="/">
  主页
</a>
<a class="quicklink" href="/projects/">
  我的项目
</a>
<a class="quicklink" href="/writings/">
  我的作文
</a>
<a class="quicklink" href="/fe5/">
  Fe5?
</a>