.log-main-div {
  display: flex;

  justify-content: center;
  position: relative;
}

.log-timeline {
  translate: -50% 0;
  width: 10px;
  height: 100%;

  overflow: visible;

  position: absolute;
}

.log-div {
  display: flex;

  width: 60%;
}

.log-block-div {
  flex-grow: 1;
}

.log-block {
  display: flex;
  flex-direction: column;

  position: relative;

  height: 50px;

  margin: 15px 0;
  padding-left: 15px;

  transition: height 250ms;
}

.log-timestamp-spot {
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% 0px;

  width: 8px;
  height: 8px;

  border: 4px solid #e4e4e4;
  border-radius: 100%;
  background-color: #f7f5f5;

  box-shadow: 0 0 6px white;

  cursor: pointer;
}

@keyframes pulsing {
  0% { scale: 0;}
  100% {
    scale: 220%;
    opacity: 0%;
  }
}

.log-timestamp-spot-pulse {

  animation: pulsing 1s infinite;
}

.log-timestamp-box {
  line-height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  translate: -100% 0;

  text-align: right;
  padding-right: 15px;

  width: 115px;
}

.log-title {
  color: #675dff;

  font-size: 2.5ch;
  
  margin: 0;

  font-weight: 500;

  cursor: pointer;
}

.log-heading {
  color: gray;

  font-size: 80%;
}

.log-heading::before {
  content: "--";
}

.log-content {
  width: 100%;
  height: 100%;

  border: 2px solid #57575723;
  border-radius: 10px;
  background-color: #30303017;

  opacity: 0;

  padding: 10px;

  transition: opacity 250ms;
}